### 1.各类型的缺失值处理
 * 处理思路：1. 删除含有缺失值的样本；2.替换/插补
 * np.nan类型
     判断数据中是否存在NaN: pd.isnull(df)； pd.notnull(df)  配合any()，all()逻辑运算函数使用
     处理方式：1.删除存在缺失值 dropna(axis='rows')
             2.替换缺失值 fillna(value, inplace=True)  value为替换值，inplace，默认True,会删除原数据，False则不会修改原数据，二是生成新的dataframe.
 * 不是NaN类型,但有缺省标记
     处理方式：1.将缺省标记替换成NaN, data.replace(to_replace="?",value=np.nan)

### 2.数据离散化
   * 什么是数据离散化：连续属性的离散化是将连续属性的值域上，将值域划分为若干个离散区间，最后用不同的符号或证书值代表落在每个子区间中的属性值。
   * 为什么要离散化：数据离散化技术可以用来减少给定连续属性值的个数。离散化方法经常作为数据挖掘的工具。称为one-hot编码或哑变量。
   * 如何实现数据的离散化：
       1.分组：自动分组(pd.qcut(data,bins))与自动分组(pd.cut(data,[...]))  返回series
       2.将分组好的结果转换成one-hot编码 （pd.get_dummies(sr, prfix=)）

In [15]:
import pandas as pd
# 准备数据
data=pd.Series([165,174,160,180,159,163,192,184],index=['No1:165','No2:174','No3:160','No4:180','No5:159','No6:163','No7:192','No8:184'])

# 自动分组
sr = pd.qcut(data, 3)
print(sr)
# 转换成one-hot编码
print(pd.get_dummies(sr, prefix="height"))

# 查看分组情况
print(sr.value_counts())
print("--------------------")
# 自定义分组
bins = [150,165,180,195]
sr = pd.cut(data, bins)
print(sr)
# 转换成one-hot编码
print(pd.get_dummies(sr, prefix="身高"))
# 查看分组情况
print(sr.value_counts())

No1:165      (163.667, 178.0]
No2:174      (163.667, 178.0]
No3:160    (158.999, 163.667]
No4:180        (178.0, 192.0]
No5:159    (158.999, 163.667]
No6:163    (158.999, 163.667]
No7:192        (178.0, 192.0]
No8:184        (178.0, 192.0]
dtype: category
Categories (3, interval[float64]): [(158.999, 163.667] < (163.667, 178.0] < (178.0, 192.0]]
         height_(158.999, 163.667]  height_(163.667, 178.0]  \
No1:165                          0                        1
No2:174                          0                        1
No3:160                          1                        0
No4:180                          0                        0
No5:159                          1                        0
No6:163                          1                        0
No7:192                          0                        0
No8:184                          0                        0

         height_(178.0, 192.0]
No1:165                      0
No2:174                      0
No3:160                      0
No4:180                      1
No5:159                      0
No6:163                      0
No7:192                      1
No8:184                      1
(178.0, 192.0]        3
(158.999, 163.667]    3
(163.667, 178.0]      2
dtype: int64
--------------------
No1:165    (150, 165]
No2:174    (165, 180]
No3:160    (150, 165]
No4:180    (165, 180]
No5:159    (150, 165]
No6:163    (150, 165]
No7:192    (180, 195]
No8:184    (180, 195]
dtype: category
Categories (3, interval[int64]): [(150, 165] < (165, 180] < (180, 195]]
         身高_(150, 165]  身高_(165, 180]  身高_(180, 195]
No1:165              1              0              0
No2:174              0              1              0
No3:160              1              0              0
No4:180              0              1              0
No5:159              1              0              0
No6:163              1              0              0
No7:192              0              0              1
No8:184              0              0              1
(150, 165]    4
(180, 195]    2
(165, 180]    2
dtype: int64

### 3.合并
* numpy中如何处理:
    np.concatnate((a,b),axis=)
   * 水平拼接：
     np.hstack()
   * 垂直拼接
     np.vstack()
* pandas中如何处理：
    * 按方向拼接
        pd.concat([data1,data2],axis=0)
    * 按索引拼接
        pd.merge(left,right, how="inner", on=[索引])

### 4.交叉表与透视表（探索两个变量的关系）
* 交叉表 : 交叉表用于计算一列数据对于另一列数据的分组个数（寻找两个列之间的关系）
    pd.crosstab(value1, value2)
* 透视表
    DataFrame.pivot_table([], index=[])
    
### 分组与聚合
* 分组
    DataFrame.groupby(key, as_index=False).聚合函数（）
    key:分组的列数据，可以多个
    
    sr.groupby(sr).聚合函数（）

In [33]:
col = pd.DataFrame({'color':['white','red','green','red','green'],
                    'object':['pen','pencil','pencil','ashtray','pen'],
                    'price1':[5.56,4.20,1.30,0.56,2.75],
                    'price2':[4.75,4.12,1.60,0.75,3.15]})
print(col)
print("------------")
print(col.groupby(['color'], as_index=False)['price1'].mean())

print("-----------")
print(col['price1'].groupby(col['color']).mean())

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15
------------
   color  price1
0  green   2.025
1    red   2.380
2  white   5.560
-----------
color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64